.cdtsm-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}

.ctd-style {
    display: flex;
    margin-left: 10px;
    color: whitesmoke;

}

.s-mode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    color: whitesmoke;
}

.date {

}