.active {
    background-color: #5d845f;
}
.resume-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.resu-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #333;
    font-size: 1.5rem;
    
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(93, 132, 95);
    background-color: #282c34;
    border-radius: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 18rem;
    height: 35px;
    width: 120px;
    cursor: pointer;
}

.download:hover {
    background-color: whitesmoke;
    color: #333;
}